.home {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
}

.home h1 {
    color: #007acc;
    background-color: #000;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin: 1rem 10rem -4rem 6rem;
}

@media screen and (min-width: 700px) {
    .home h1 {
        color: #007acc;
        background-color: #000;
        font-size: 6rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin: 4rem 30rem -4rem 16.9rem;
    }
}
@media screen and (min-width: 2080px) {
    .home h1 {
        color: #007acc;
        background-color: #000;
        font-size: 10rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin: 4rem 30rem -4rem 42rem;
    }
}

.background_img {
    width: 5rem;
    margin: 0.5rem 0 0 13rem;
}

@media screen and (min-width: 368px) {
    .background_img {
        width: 5rem;
        margin: 0.5rem 0 0 15rem;
    }
}

@media screen and (min-width: 700px) {
    .background_img {
        width: 12rem;
        margin: -5.3rem 0 0 40rem;
    }
}

@media screen and (min-width: 2080px) {
    .background_img {
        width: 22rem;
        margin: -12.5rem 0 0 77rem;
    }
}
.home h2 {
    color: #ffc500;
    font-size: 1rem;
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: -0.5rem 0 1.5rem 0;
}

@media screen and (min-width: 700px) {
    .home h2 {
        color: #ffc500;
        font-size: 2rem;
        background-color: #000;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0 0 3rem 0;
    }
}

.btn_icone,
.btn_icone_windows,
.btn_icone_apple,
.btn_icone_linux {
    color: #000;
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    border: 0.2rem solid #ffc500;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem #ffc500;
    font-size: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 2rem 1rem;
}

@media screen and (min-width: 700px) {
    .btn_icone,
    .btn_icone_windows,
    .btn_icone_apple,
    .btn_icone_linux {
        color: #000;
        background-color: #fff;
        padding: 0.5rem 0.5rem;
        border: 0.2rem solid #ffc500;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 0.2rem #ffc500;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 0rem 1rem;
    }
}

.btn_icone_windows {
    color: #007acc;
    margin: 0 0 0 2.8rem;
}

@media screen and (min-width: 368px) {
    .btn_icone_windows {
        color: #007acc;
        margin: 0 0 0 4.9rem;
    }
}

@media screen and (min-width: 420px) {
    .btn_icone_windows {
        color: #007acc;
        margin: 0 0 0 7.8rem;
    }
}

@media screen and (min-width: 700px) {
    .btn_icone_windows {
        color: #007acc;
        margin: 0 0 0 24.5rem;
    }
}
@media screen and (min-width: 2080px) {
    .btn_icone_windows {
        color: #007acc;
        margin: 0 0 0 27.8rem;
    }
}
.btn_icone_apple {
    color: #c0c0c0;
    margin: 0 0 0 2.5rem;
}

@media screen and (min-width: 700px) {
    .btn_icone_apple {
        color: #c0c0c0;
        margin: 0 0 0 11rem;
    }
}
@media screen and (min-width: 2080px) {
    .btn_icone_apple {
        color: #c0c0c0;
        margin: 0 0 0 31.3rem;
    }
}

.btn_icone_linux {
    margin: 0 0 0 2.5rem;
}

@media screen and (min-width: 700px) {
    .btn_icone_linux {
        margin: 0 0 0 13rem;
    }
}

@media screen and (min-width: 2080px) {
    .btn_icone_linux {
        margin: 0 0 0 30.2rem;
    }
}

table,
tr,
th {
    font-size: 0.4rem;
    font-weight: 200;
    line-height: 1rem;
    letter-spacing: 0.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    border: 0.01rem solid #ffc500;
    border-collapse: collapse;
    padding: 0.2rem;
    margin: 14.75rem 0.5rem 2rem 0.5rem;
}
th {
    width: 50rem;
}

@media screen and (min-width: 368px) {
    table,
    tr,
    th {
        font-size: 0.4rem;
        font-weight: 200;
        line-height: 1rem;
        letter-spacing: 0.1rem;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        border: 0.01rem solid #ffc500;
        border-collapse: collapse;
        padding: 0.2rem;
        margin: 11.75rem 0.5rem 2rem 0.5rem;
    }
}
@media screen and (min-width: 700px) {
    table,
    tr,
    th {
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 0.2rem;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        border: 0.01rem solid #ffc500;
        border-collapse: collapse;
        padding: 0.5rem 5.5rem 0.5rem 0.5rem;
        margin: 25rem 0.5rem 2rem 0.5rem;
    }
}

@media screen and (min-width: 2080px) {
    table,
    tr,
    th {
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 0.2rem;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        border: 0.01rem solid #ffc500;
        border-collapse: collapse;
        padding: 0.5rem 5.5rem 0.5rem 0.5rem;
        margin: 34rem 0.5rem 2rem 0.5rem;
    }
}
